.root {
  width: 100vw;
}

.wrapper {
  position: absolute;
  width: 95%;
  transform: translateX(-50%);
  left: 50%;
  bottom: 15px;
  right: 0;
}

.progressContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 8px;
  padding: 20px 0;
}

.itpLineWrapper {
  overflow: hidden;
  position: relative;
  height: 8px;
  width: 100%;
  border-radius: 10px;
  &:not(:first-child) {
    margin-top: 4px;
  }
}

.itpLine {
  border-radius: 10px;
  height: 100%;
  background-color: #333;
  position: relative;
}

.itpLineProgress {
  transform-origin: left;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0px;
  height: 100%;
  width: 100%;
  background-color: #777;
}

.itpLabel {
  font-size: 8px;
}

.progressIndicator {
  position: absolute;
  top: 50%;
  left: 0;
  width: 1px;
  height: calc(100% - (20px));
  background-color: red;
  pointer-events: none;
  transform: translateY(-50%) translateX(calc(var(--progress-x) * 1px));
}
