.App {
  width: 100vw;
  height: 100vh;
}

.balls {
  width: 100vw;
  height: 100vh;
}

.ball {
  will-change: transform;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.ball:nth-child(1) {
  background: red;
}
.ball:nth-child(2) {
  background: green;
}
.ball:nth-child(3) {
  background: #535bf2;
}
