.App {
  width: 100vw;
  height: 100vh;
//  background: red;
}

.ball {
  will-change: transform;
  position: absolute;
  bottom: 0;
  left: 0;

  width: 20px;
  height: 20px;
  background: hotpink;
  border-radius: 100%;
}
