.root {
}

.button {
  position: relative;
  padding: 30rem;
  cursor: pointer;
  &:hover {
    background: var(--color-black-1);
  }
}

.ball {
  background: hotpink;
  width: 10rem;
  height: 10rem;
  display: block;
}
